.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cycle-slideshow {width: 100%; height: auto; margin: 10px auto; padding: 0; position: relative; }
.cycle-slideshow img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 0; display: block;}
.cycle-slideshow img:first-child {position: static; z-index: 100;}
.cycle-pager {text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;}
.cycle-pager span {font-family: arial; font-size: 50px; width: 16px; height: 16px; display: inline-block; color: #ddd; cursor: pointer;}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * {cursor: pointer;}
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }
.cycle-overlay { font-family: tahoma, arial; position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;}
.slide-title {font-weight: bold; font-size: 120%;}
.cycle-prev, .cycle-next { font-size: 50px; text-align: center; position: absolute; top: 40%; width: 10%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;}
.cycle-next { right: 0;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }
.disabled { opacity: .5; filter:alpha(opacity=50); }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px;}
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}
