body.portaltype-photo-gallery .slideshow-container,
.photogallery-tile .slideshow-container
{
    width: 100%;
    max-width: 748px;
    margin: 10px auto;
}

body.portaltype-photo-gallery .slideshow-description,
body.portaltype-photo-gallery .slideshow-carrossel
{
    float: left;
    width: 50%;
}

.photogallery-tile .slideshow-description,
.photogallery-tile .slideshow-carrossel
{
    float: left;
    width: 45%;
}

body.portaltype-photo-gallery .slideshow-download,
.photogallery-tile .slideshow-download
{
    float: left;
}

.photogallery-tile .photogallery-url
{
    font-weight: bold;
    display: block;
    float: left;
    width: 10%;
    padding: 6px 0;
    text-align: center;
    color: white;
    background-color: #0094cc;
}

body.portaltype-photo-gallery .cycle-slideshow,
body.portaltype-photo-gallery .cycle-slideshow *,
.photogallery-tile .cycle-slideshow,
.photogallery-tile .cycle-slideshow *
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body.portaltype-photo-gallery .cycle-slideshow,
.photogallery-tile .cycle-slideshow
{
    position: relative;
    width: 100%;
    max-width: 768px;
    height: auto;
    padding: 0;
    background: #f1f1f1;
}
body.portaltype-photo-gallery .cycle-description.cycle-slideshow {
    background: transparent;
}

body.portaltype-photo-gallery .cycle-player img,
.photogallery-tile .cycle-player img
{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 0;
    margin: 0 auto;
}

body.portaltype-photo-gallery .cycle-player .cycle-slide,
.photogallery-tile .cycle-player .cycle-slide
{
    width: 100%;
}

body.portaltype-photo-gallery .thumb-itens,
.photogallery-tile .thumb-itens {
    max-height: 50px;
    overflow: hidden;
    margin-right: 5px;
    cursor: pointer;
}

body.portaltype-photo-gallery .thumb-itens img,
.photogallery-tile .thumb-itens img {
    width: 96px;
}

body.portaltype-photo-gallery .cycle-slideshow img:first-child,
.photogallery-tile .cycle-slideshow img:first-child
{
    position: static;
    z-index: 100;
}

body.portaltype-photo-gallery .slideshow-player,
.photogallery-tile .slideshow-player
{
    position: relative;
}

body.portaltype-photo-gallery .cycle-pager,
.photogallery-tile .cycle-pager
{
    position: absolute;
    z-index: 500;
    top: 10px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

body.portaltype-photo-gallery .cycle-pager span,
.photogallery-tile .cycle-pager span
{
    font-family: arial;
    font-size: 50px;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    color: #ddd;
}

body.portaltype-photo-gallery .cycle-pager span.cycle-pager-active,
.photogallery-tile .cycle-pager span.cycle-pager-active
{
    color: #d69746;
}

body.portaltype-photo-gallery .cycle-pager > *,
.photogallery-tile .cycle-pager > *
{
    cursor: pointer;
}

body.portaltype-photo-gallery .cycle-caption,
.photogallery-tile .cycle-caption
{
    position: absolute;
    z-index: 700;
    right: 15px;
    bottom: 15px;
    color: white;
}

body.portaltype-photo-gallery .slide-title,
.photogallery-tile .slide-title
{
    font-size: 120%;
    font-weight: bold;
}

body.portaltype-photo-gallery a.cycle-prev,
body.portaltype-photo-gallery a.cycle-next,
.photogallery-tile a.cycle-prev,
.photogallery-tile a.cycle-next
{
    font-size: 50px;
    position: absolute;
    z-index: 800;
    top: 0;
    width: 10%;
    height: 87%;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    border-bottom: 0 !important;
    filter: alpha(opacity=0);
}

body.portaltype-photo-gallery a.cycle-prev,
body.portaltype-photo-gallery a.cycle-next,
.photogallery-tile a.cycle-prev,
.photogallery-tile a.cycle-next
{
    position: absolute;
    top: 0;
}

body.portaltype-photo-gallery a.cycle-prev span,
body.portaltype-photo-gallery a.cycle-next span,
.photogallery-tile a.cycle-prev span,
.photogallery-tile a.cycle-next span
{
    position: absolute;
    top: 50%;
}

body.portaltype-photo-gallery .cycle-prev,
.photogallery-tile .cycle-prev
{
    left: 0;
}

body.portaltype-photo-gallery .cycle-next,
.photogallery-tile .cycle-next
{
    right: 0;
}

body.portaltype-photo-gallery .cycle-prev span,
.photogallery-tile .cycle-prev span
{
    left: 10px;
}

body.portaltype-photo-gallery .cycle-next span,
.photogallery-tile .cycle-next span
{
    right: 10px;
}

body.portaltype-photo-gallery .cycle-prev:hover,
body.portaltype-photo-gallery .cycle-next:hover,
.photogallery-tile .cycle-prev:hover,
.photogallery-tile .cycle-next:hover
{
    opacity: .5;

    filter: alpha(opacity=50);
}

body.portaltype-photo-gallery .disabled,
.photogallery-tile .disabled
{
    opacity: .5;

    filter: alpha(opacity=50);
}

body.portaltype-photo-gallery .slideshow-download .cycle-slideshow {
    background: transparent;
}
body.portaltype-photo-gallery .slideshow-download {
    position: relative;
    clear: both;
}
body.portaltype-photo-gallery .download.album,
body.portaltype-photo-gallery .slideshow-download a {
    display: inline-block;
    margin-top: 10px;
    border: none;
}
body.portaltype-photo-gallery .slideshow-container {
    margin: 10px auto 50px auto;
}
body.portaltype-photo-gallery .download.album {
    margin-left: 25px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)
{
    body.portaltype-photo-gallery .cycle-slideshow,
    .photogallery-tile .cycle-slideshow
    {
        width: 200px;
    }
    body.portaltype-photo-gallery .cycle-overlay,
    .photogallery-tile .cycle-overlay
    {
        padding: 4px;
    }
    body.portaltype-photo-gallery .cycle-caption,
    .photogallery-tile .cycle-caption
    {
        right: 4px;
        bottom: 4px;
    }
}
