body.portaltype-photo-gallery,
.photogallery-tile {
  .slideshow-container {
    width: 100%;
    max-width: 748px;
    margin: 10px auto;
  }
  .slideshow-download {
    float: left;
  }
  .cycle-slideshow,
  .cycle-slideshow *,
  .photogallery-tile .cycle-slideshow,
  .photogallery-tile .cycle-slideshow * {
    box-sizing: border-box;
  }
  .cycle-slideshow {
    position: relative;

    width: 100%;
    max-width: 768px;
    height: auto;
    padding: 0;

    background: #F1F1F1;
  }
  .cycle-player img {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .cycle-player .cycle-slide {
    width: 100%;
  }
  .thumb-itens {
    overflow: hidden;

    max-height: 50px;
    margin-right: 5px;

    cursor: pointer;
  }
  .thumb-itens img {
    width: 96px;
  }
  .cycle-slideshow img:first-child {
    position: static;
    z-index: 100;
  }
  .slideshow-player {
    position: relative;
  }
  .cycle-pager {
    position: absolute;
    z-index: 500;
    top: 10px;

    overflow: hidden;

    width: 100%;

    text-align: center;
  }
  .cycle-pager span {
    font-family: arial;
    font-size: 50px;

    display: inline-block;

    width: 16px;
    height: 16px;

    cursor: pointer;

    color: #DDD;
  }
  .cycle-pager span.cycle-pager-active {
    color: #D69746;
  }
  .cycle-pager > * {
    cursor: pointer;
  }
  .cycle-caption {
    position: absolute;
    z-index: 700;
    right: 15px;
    bottom: 15px;

    color: white;
  }
  .slide-title {
    font-size: 120%;
    font-weight: bold;
  }
  a.cycle-prev,
  a.cycle-next {
    font-size: 50px;

    position: absolute;
    z-index: 800;
    top: 0;

    width: 10%;
    height: 87%;

    cursor: pointer;
    text-align: center;

    opacity: 0;
    border-bottom: 0 !important;

    filter: alpha(opacity=0);
  }
  a.cycle-prev,
  a.cycle-next {
    position: absolute;
    top: 0;
  }
  a.cycle-prev span,
  a.cycle-next span {
    position: absolute;
    top: 50%;
  }
  .cycle-prev {
    left: 0;
  }
  .cycle-next {
    right: 0;
  }
  .cycle-prev span {
    left: 10px;
  }
  .cycle-next span {
    right: 10px;
  }
  .cycle-prev:hover,
  .cycle-next:hover {
    opacity: .5;

    filter: alpha(opacity=50);
  }
  .disabled {
    opacity: .5;

    filter: alpha(opacity=50);
  }
}

body.portaltype-photo-gallery {
  .slideshow-description,
  .slideshow-carrossel {
    float: left;

    width: 50%;
  }
  .cycle-description.cycle-slideshow {
    background: transparent;
  }
  .slideshow-download .cycle-slideshow {
    background: transparent;
  }
  .slideshow-download {
    position: relative;

    clear: both;
  }
  .download.album,
  .slideshow-download a {
    display: inline-block;

    margin-top: 10px;

    border: none;
  }
  .slideshow-container {
    margin: 10px auto 50px auto;
  }
  .download.album {
    margin-left: 25px;
  }
}

.photogallery-tile {
  .slideshow-description,
  .slideshow-carrossel {
    float: left;

    width: 45%;
  }
  .photogallery-url {
    font-weight: bold;

    display: block;
    float: left;

    width: 10%;
    padding: 6px 0;

    text-align: center;

    color: white;
    background-color: #0094CC;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  body.portaltype-photo-gallery,
  .photogallery-tile {
    .cycle-slideshow {
      width: 200px;
    }
    .cycle-overlay {
      padding: 4px;
    }
    .cycle-caption {
      right: 4px;
      bottom: 4px;
    }
  }
}
